@model IEnumerable<BOL.ViewModels.EditionViewModel>
@{
    ViewBag.Title = "Home Page";
}

<h2>Bienvenu</h2>
<br />

@if (Model != null)
{
<section class="section service-2">

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-block mb-5">
                        <img src="@Url.Content(item.EventPhoto1)" alt="" height="200" @*class="img-fluid"*@ /> 
                        <div class="content">
                            <h4 align="center" class="mt-4 mb-2 title-color">@item.NomEdition</h4>
                            <pre class="mb-4">
                                Evenement:    @item.NomEvent
                                Organisateur: @item.Organisateur
                                Debut:        @item.DateDebut
                                Fin:          @item.DateFin
                    
                            </pre>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>

</section>

}

    