@model BOL.AspNetEdition

@{
    ViewBag.Title = "CreateEdition";
    Layout = "~/Views/Shared/_ProfessionalUserLayout.cshtml";
}



<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">Créer</span>
                    <h1 class="text-capitalize mb-5 text-lg">Créer Une Edition</h1>

                    <!-- <ul class="list-inline breadcumb-nav">
                      <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                      <li class="list-inline-item"><span class="text-white">/</span></li>
                      <li class="list-inline-item"><a href="#" class="text-white-50">Our services</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>

<br />

<div class="container">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12"> 
             
            @using (Html.BeginForm("CreateEdition", "EditionManagement",FormMethod.Post, new { area = "ProfessionalUser", @enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.EvId)


                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="form-group">
                            @Html.Label("Nom Edition")
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            @Html.EditorFor(model => model.NomEdition, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NomEdition, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="form-group">
                            @Html.Label("Date Debut")
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            @Html.EditorFor(model => model.DateDebut, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateDebut, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="form-group">
                            @Html.Label("Date Fin")
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            @Html.EditorFor(model => model.DateFin, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="form-group">
                            <label id="myfile">Image</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <input type="file" id="myfile" name="fichierImage" required>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                </div>

                <br />

                <div class="text-center">
                    <input class="btn btn-main btn-round-full" name="submit" type="submit" value="Créer" />
                </div>

            }
        </div>
    </div>
</div>
<br />


















